{% extends "layout.html" %}
{% block title %}Proje Değiştir{% endblock %}
{% block content %}
<div class="container-fluid col-lg-10">
    <h3 class="text-center">Proje Değiştir</h3>
    <form action="{{ url_for('admin.edit_project', pk=project.id) }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Başlık</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Başlığın" value="{{ project.title }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Tip</label>
            {% if project.type == "General Carpentry" %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="carpentry" value="General Carpentry" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    General Carpentry
                </label>
            </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="carpentry" value="Custom Carpentry" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Custom Carpentry
                </label>
            </div>
            {% else %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="carpentry" value="General Carpentry" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    General Carpentry
                </label>
            </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="carpentry" value="Custom Carpentry" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Custom Carpentry
                </label>
            </div>
            {% endif %}

        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="image">Proje fotoğrafı</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/png, image/jpeg, image/jpg">
        </div>

        <button type="submit" class="btn btn-success float-end">Değiştir</button>
    </form>
</div>
<br><br><br>
{% endblock %}