{% extends "layout.html" %}
{% block title %}Admin kaydet{% endblock %}
{% block content %}
<div class="container-fluid col-lg-6">
    <h2 class="display-2">Admin Kayıt</h2>
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Kullanıcı adı</label>
            <input type="username" class="form-control" name="username" id="username" placeholder="Your username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Your password">
        </div>        
        <div class="mb-3">
            <label for="password" class="form-label">Şifre Tekrar</label>
            <input type="password" class="form-control" name="password-repeat" id="password" placeholder="Your password">
        </div>
        
        <button type="submit" class="btn btn-primary float-end">Kaydet</button>
        
    </form>
</div>
<br>
{% endblock %}