<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="{{ url_for('views.home') }}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary">WooDY</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{ url_for('views.home') }}" class="nav-item nav-link">Home</a>
            <a href="{{ url_for('views.about') }}" class="nav-item nav-link">About</a>
            <a href="{{ url_for('views.service') }}" class="nav-item nav-link">Service</a>
            <a href="{{ url_for('views.project') }}" class="nav-item nav-link">Project</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="{{ url_for('views.feature') }}" class="dropdown-item">Feature</a>
                    <a href="{{ url_for('views.quote') }}" class="dropdown-item">Free Quote</a>
                    <a href="{{ url_for('views.team') }}" class="dropdown-item">Our Team</a>
                    <a href="{{ url_for('views.testimonial') }}" class="dropdown-item">Testimonial</a>
                </div>
            </div>
            <a href="{{ url_for('views.contact') }}" class="nav-item nav-link">Contact</a>
        </div>
        <a href="{{ url_for('views.quote') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Free A Quote<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->

